@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Enter new data";
}
<div>
    <h2>Please enter the required data</h2>
    <form onsubmit="">
        <table class="table">
            <tr>
                <td>Employee ID:</td>
                <td><input type="number" id="empid" placeholder="101" name="employeeid" /></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" id="fname" placeholder="First Name" name="firstname" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" id="lname" placeholder="Last Name" name="lastname" /></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input type="text" id="gender" placeholder="Gender" name="gender" maxlength="1"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" id="submit" name="formsub" value="Submit Data" style="background-color:#5CB8E4" /></td>
            </tr>
        </table>
    </form>
    <br />
    <a asp-controller="Employee" asp-action="AllEmployeeInfo">Back to the list...</a>
</div>