@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Employee Homepage";
}
<h1>Welcome to Employee Home Page!</h1>
<h4>Click <a asp-controller="Employee" asp-action="AllEmployeeInfo">here</a> to view all employee's data</h4>
